/*ALL FORMATTING*/
* {
    color:rgb(220, 198, 160);
    background-color: rgb(29, 32, 33);
 }

/*GENERAL USE CLASSES*/
.underline {
    text-decoration: underline;
}

/*SPECIFIC CLASSES*/
.mainsection {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

div.centercontainer {
    text-align: center;
    position: fixed;
}

.title {
    color:rgb(220, 198, 160);
    padding: 0%;
    margin-top: 0%;
    margin-bottom:10px;
}

.prompt {
    padding: 0%;
    margin: 0%;
}


/*UNADJUSTED*/
div.result {
    margin: 0%;
    padding: 0%;
    border: 2px solid;
    min-height: 135px;
    border-radius: 15px;
    border-color: rgb(220, 198, 160);
    transform: translateY(15px);
}

.correction {
    font-size: 13px;
}

.emphasis {
    margin: 5px;
}



p.input {
    font-size: large;
    font-weight: bold;
    margin: 0%;
}

textarea {
    resize: none;
    width: 250px;
    min-height: 75px;
    border-radius: 15px;
    font-weight: bold;
    color:rgb(29, 32, 33);
    background-color: rgb(220, 198, 160);
    margin-top: 20px;
}

button.confirm {
    height: 35px;
    width: 75px;
    font-weight: bold;
    color:rgb(29, 32, 33);
    background-color:rgb(126, 171, 111);
    border-color:rgb(126, 171, 111);
    border-radius: 30px;
}
    button.confirm:hover {
        color:rgb(29, 32, 33);
        background-color: rgb(111, 171, 138);
        border-color:rgb(111, 171, 138);
    }
    button.confirm:active {
        color:rgb(220, 198, 160);
        background-color: rgb(62, 106, 82);
        border-color: rgb(62, 106, 82);
    }



/*
h1.title {
    text-align: center;
    vertical-align: middle;
}

.prompt {
    text-align: center;
    vertical-align: middle;
}

.answer {
    text-align: center;
    vertical-align: middle;
}

.confirm {
    text-align: center;
    vertical-align: middle;
}

.main {
    padding: 0;
    background-color: rgb(22, 24, 25);
}

div.header {
    height: 75px;
    background-color: rgb(29, 32, 33);
    border: 20px;
    border-color: rgb(60, 56, 54);
}

.title {
    margin: 10px 10px 0 10px;
    display: inline-block;
}

.paragraph {
    position: relative;
    z-index: 0;
}

div.sidebar {
    background-color: rgb(60, 56, 54);
    padding-right: 3%;
    padding-bottom: 100%;
    width: 16%;
    display: block;
    border-radius: 3px;
    border-color: rgb(60, 56, 54);
}

img.logo {
    vertical-align: middle;
    text-indent: -999px;
}
*/